html, body {
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: Exo;
    
    
    height: 100%;
    width: 100%;
}

.header{
    display:flex;
    justify-content:center;
}

.sketch{
    
}

.main{
    display: flex;
    justify-content: center;
    background-color:;
}

.container{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 15px solid rgb(150, 142, 142);
    border-radius: 14px;
    background: linear-gradient(#f3f1f1, #b8b5b5);
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    border: 1px solid rgb(243, 239, 239);
    flex: 1;
}


